<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h3> <%=link_to 'Tweeter', root_path %></h3>
	<nav>
		<ul>
			<% if current_user %>
			<li> Hello <% current_user.username %></li>
			<li><%= link_to 'All chirps', chirps_path %></li>
			<li><%= link_to 'new chirp', new_chirp_path %></li>
			<li><%= link_to 'edit profile', edit_profile_path %></li>
			<li><%= link_to 'log out', logout_path, method: :delete  %></li>
			<% else %>
			<li><%= link_to 'log in', login_path %></li>
			<li><%= link_to 'Sign up', new_user_path %></li>
			<% end %>
		</ul>
	</nav>
</header>
	<main>
	<div>
		<%=flash [:notice] if flash[:notice]%>
	</div>
	<div>
		<%=flash [:alert] if flash[:alert]%>
	</div>
	<%= yield %>
	</main>
</body>
</html>
